*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url(img/fondo_principal.jpg);
background-attachment: fixed;
}/* solo para ver el texto hasta que lo acomode */
 /*Estilo para el header de todas las páginas */
header{
  font-family: 'Mali', cursive;
  background: #000000;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
}
a{
  cursor:pointer;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
    color: #fff;
    text-decoration: none;
}
#iconoHeader{
    margin-left: 30px;
    align-self: flex-start;
}
.studio {
font-family: 'Permanent Marker', cursive;
font-weight:800;
font-size:50px;
padding:20px;
text-shadow: 0 0 12px #000, 0 0 15px #0000FF;  
}
.subtitulo {
font-family: 'Mali', cursive;
font-size:22px;
padding-left:20px;
text-shadow: 0 0 12px #000, 0 0  15px #0000FF;  
}
.nav-menu, .listaDirectores{
      display: flex;
      margin-right: 30px;
      list-style: none;
  }
  .nav-menu-item {
      font-size: 18px;
      margin: 0 10px;
      line-height: 60px;
  }
  .nav-menu-link{
      padding: 8px 10px;
      border-radius: 10px
  }
  .nav-menu-link:hover, .submenuDirector_items:hover{
      background-color: #6B7382;
      transition: 0.5s;
  }
  .nav-toggle{
      color: #fff;
      background: none;
      border: none;
      font-size: 30px;
      padding: 0 20px;
      line-height: 50px;
      display: none;
  }

  /* manipulación del hover para directores/submenú */
  .listaDirectores{
    display: none;
    flex-direction: column;
    background-color: #000;
    cursor: pointer;
    padding: 10px;
    margin-left: -70px;
  }
  .submenuDirector_items{
    display: flex;
    justify-content: center;
    width: 240px;
    line-height: 30px;
    border-radius: 10px
  }
  .submenuDirector{
    color: #fff;
    text-decoration: none;
  }

/*---------------Desde acá estoy agregando el estilo para el carrusel -------------------- */
#contenedorCarrusel, .carruselPeliculas{
  display: flex;
  align-items: center;
  position: relative;
  padding: auto;
  overflow: hidden;
}

#contenedorCarrusel .flechaIzquierda, #contenedorCarrusel .flechaDerecha{
position: absolute;
border: none;
background: rgb(255, 255, 255, 0.3);
font-size: 40px;
height:35%;
align-self: center;
line-height: 40px;
width: 50px;
color: #000;
cursor: pointer;
z-index: 100px;
transition: .2s ease all;
}

#contenedorCarrusel .flechaIzquierda{
left: 0;
}

#contenedorCarrusel .flechaDerecha{
right: 0;
}

#contenedorCarrusel .flechaIzquierda:hover, #contenedorCarrusel .flechaDerecha:hover{
background: rgba(255, 255 , 255, 0.7);
transition: 0.5s;
}

#contenedorCarrusel{
height: 100%;
width: 70%;
padding: 20px 0;
}
#contenedorCarrusel .carruselPeliculas{
display: flex;
flex-wrap: nowrap;
scroll-behavior: smooth;
}

/*---------------Hasta acá estoy agregando el estilo para el carrusel -------------------- */
.div_content_movies {
padding-left:10px;
padding-right:10px;
margin: auto;
}
/* Al pasar el ratón por la peli, aumenta su tamaño */
.div_content_movies:hover{
transform: scale(1.10);
}
.relacionadasDirectores{
  margin: auto;
}
.img_movie {
min-width:120px;
max-width: 150px;
max-height: 150px;
border: 5px solid #D0A50E;
margin-right:20px;
}

.div_img_movie, .imgDirector{
    cursor: pointer;
    border: 5px double #D8D3CE;
    border-radius: 10px;
    width: 226px;
    height: 310px;
}
.contenedor_section_h3 {
font-family: 'Mali', cursive;
font-style: normal;
font-weight: 700;
font-size: 16px;
text-align: center;
color: #FFFFFF;
}
.section_h2{
font-family: 'Permanent Marker', cursive;
font-style: normal;
font-weight: 700;
font-size: 14px;
text-align: center;
color: #D0A50E;
margin:10px;
}
.films-titles{
  display: flex;
  font-family: 'Mali', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin:5px;
  justify-content: center;
  width: 200px;
}

.div_best_movies {
min-width: 330px;
min-height: 160px;
display: inline-flex;
padding: 5px 20px 10px 20px;
justify-content: space-between;
align-content: center;
flex-wrap: nowrap;
align-items: center;
flex-direction: row;
}
.best_textos {
display:flex;
flex-wrap: wrap;
align-content: center;
justify-content: center;
align-items: center;
flex-direction: column;
}
.back-principal {
padding:30px;
padding-top:60px;
padding-bottom:40px !important;
margin: -20px 0px 0px 0px;
background-image: url(img/fondo_principal.jpg);
background-attachment: fixed;
}
.secciones {
  display:inline-block;
}

 /*Estilo para el footer de todas las páginas */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #3D3D3D;
    position: fixed;
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
 }
/* Estilo para la cabecera de la Página Principal */
.cabecera{
  margin-top: 60px;
  margin-bottom:0px;
  display: inline-flex;
  background-image: url('img/slider.png');
  justify-content: center;
  background-size: 1600px 500px;
  height: 500px;
  color: #fff;
  width:100%;
  flex-direction: column;
  align-items: baseline;
  align-content: stretch;
  flex-wrap: wrap;
}
.div_slider{
  width:50%;
  display: flex;
  align-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.dragon {
  padding:30px;
  align-items: center;
}

.accesosFijos{
    margin-left: 30px;
    color: #fff;
}
.barraBusqueda{
background-color: rgb(46, 53, 97, 0.5);
  display: flex;
  align-items: center;
  justify-content:space-around;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 15px;
  border-radius: 10px;
}

#inputBuscar{
  border-radius: 10px;
  min-width:260px;
  height:40px;
  margin: 10px;
  margin-right: 20px;
  padding-left:10px;
}
#lupaBusqueda{
    height: 20px;
    margin-left: 5px;
}
#btnBuscar{
  background: #D0A50E;
  border: 1;
  cursor: pointer;
  align-self: center;
  padding:5px 10px 3px 10px;
  border-radius:25px;
}
#paginaPrincipal{
    display: flex;
    width: 100%;
    height: 100%;
}
.carruselPeliculas{
  display: flex;
  width: 100%;
  height: 390px;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
}
#topTres{
  border: 2px solid #fff;
  width: 25%;
  height: auto;
  margin: auto;
}
#botonesOrdenar{
  display: flex;
  padding-left: 30px;
  flex-wrap: wrap;
}
#div_buscador{
  display: flex;
  height: 100%;
  justify-self: flex-end;
  padding-right: 30px;
}
#txtFilmsAclamados{
  text-align: center;
  font-family: 'Mali', cursive;
  margin-bottom: 10px;
  justify-content: center;
  padding: 10px;
  background:#363E74;
  color: #FFF;
}
#filmsAclamados{
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 20px;
}
.btnNavegar {
background:#D0A50E;
color: #000000;
padding:10px;
border-radius: 10px;
cursor: pointer;
margin:8px;
font-family: 'Mali', cursive;
font-size: 16px;
font-weight:600;
}
#gender, #specie{
  display: none;
}
.btnNavegar:hover, #btnBuscar:hover {
background:#e5c348;
color: #ffffff;
}

/* Desde acá comienza el estilo para página de directores */
#paginaDirectores {
  margin: auto;
  margin-top: 30px;
  display:none;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 90%;
}

#nombreDirectores__paginaDirectores{
margin: auto;
margin-top: 20px;

}
#contDirector{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
#relacioandasDirectores{
  margin-bottom: 30px;
  align-self: center;
  border-radius: 20px;
  position: inherit;
}
.contRelacionadasDirectores{
  margin: auto;
  display: flex;
  background-color: rgba(1, 2, 27, 0.5);
  height: 100%;
  padding-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 20px;
}
.descriptionDirector{
  padding: 30px;
  border-radius: 10px;
  font-family: 'Mali', cursive;
  font-size: 18px;
  display: flex;
  background-color: rgb(255, 255, 255, 0.5);
  width: 95%;
  text-align: center;
}

.imgDirector{
  cursor:auto;
  margin: 30px;
}

@media (max-width: 768px){
 /*Estilo para el header de todas las páginas en dispositivos móviles*/
  body{
    padding-top: 50px;
  }
  header{
    height: 50px;
  }
  .back-principal {
    padding-left: 10px;
    padding-top: 30px;
  }
  .cabecera{
    margin-top: 0%;
    display:block;
  }
  .barraBusqueda{
    display:block !important;
  }
  .div_slider {
    display:block;
  }
  #iconoHeader{
    height: 40px;
    width: auto;
  }
  /*---------------Desde acá estoy agregando el estilo para el carrusel -------------------- */
  #contenedorCarrusel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

  }
  #contenedorCarrusel .carruselPeliculas{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    overflow: visible;
    align-content: center;
    justify-content: center;
  }
/*---------------Hasta acá estoy agregando el estilo para el carrusel -------------------- */
  .carruselPeliculas{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    overflow: visible;
  }
  #topTres, #txtFilmsAclamados, #contenedorCarrusel .flechaIzquierda, #contenedorCarrusel .flechaDerecha {
    display: none;
}

  #div_buscador {
    display:block;
  }
  .nav-menu{
      flex-direction: column;
      align-items: center;
      background-color: #43587F;
      position: fixed;
      top: 50px;
      width: 60%;
      padding: 20px 0%;
      height: calc(35% - 60px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.5s;
  }
  .nav-menu-item{
      line-height: 30px;
  }
  .nav-menu-link:hover{
      background: #D8D3CE;
      color: #4889FF;
  }
  .nav-toggle{
      display: block;
      cursor: pointer;
  }
  .nav-menu_visible{
      left: 0;
  }
   /*Estilo para el footer de todas las páginas en dispositivos móviles*/
   footer{
       height: 20px;
   }
   
}
.carruselPeliculas__pgPeliculas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 60px;
}
/* Desde acá la vista para las peliculas individuales */
#Peliculas{
padding: 30px;;
display: none;
flex-direction: column;
align-content: center;
flex-wrap: wrap;
justify-content: center;
align-items: center;
height:100%;
}
#contenedorPelicula{
display: flex;
background: rgba(213, 213, 213, 0.33);
padding: 30px;
flex-wrap: nowrap;
align-content: center;
justify-content: space-evenly;
align-items: center;
flex-direction: row;
margin-bottom:30px;
border-radius:15px;
}
#carruselPersonajes{
width:100%;
display: flex;
flex-direction: column;
align-items: center;
}
#posterPelicula{
min-width: 30%;
align-content: center;
justify-content: center;
align-items: center;
flex-direction: row;
display: flex;
}
.titulos{
padding:5px;
border: 2px solid;
width: 350px;
text-align: center;
font-family: 'Mali', cursive;
margin-bottom: 20px;
justify-content: center;
background: #363E74;
color: #FFF;
align-self: center;
border-radius: 10px;
}
.bloque_descripciones {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: flex-start;
align-items: center;
}
#infoRelacionada_Individual{
display: flex;
min-width: 100%;
}
.infoRelacionada{
width: 100%;
margin: 10px;
}
.descripcion_movie{
font-family: 'Mali', cursive;
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 1.2;
text-align: center;
color: #565252;
margin: 0px 15px 0px 15px;
padding: 15px;
background: #D8D3CE;
border-radius: 21px;
}
.descripcion_titles{
font-size: 16px;
margin-bottom:20px;
border: 2px solid;
text-align: center;
font-family: 'Mali', cursive;
justify-content: center;
background: #D0A50E;
color: #212121;
}

#DescripcionPelicula, .descriptionDirector{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin:10px;  
}
#carruselPers_Relacionados{
width: 100%;
height: 100%;
flex-wrap: wrap;
align-content: flex-start;
flex-direction: row;
display: flex;
justify-content: space-around;
}

/*css de la vista de ventanas de personajes*/
.modalPeople{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.contenidoP{
    display: flex;
    position: relative;
    background: #D8D3CE;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    border: 5px double #454545;
    width:280px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: stretch;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.titulomodal{
  padding:5px;
  margin:5px 20px;
  text-align: center;
  border-radius:15px;
  font-family: 'Mali', cursive;
  justify-content: center;
  color: #fcfcfc;
  font-weight: 600;
  font-size:18px;
  background:#27387c;
}
.textosmodal{
  padding:5px;
  text-align: center;
  font-family: 'Mali', cursive;
  justify-content: center;
  color: #312f2f;
  font-size:16px;
}
.close {
  color: #0f2f61;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background: #fff;
  display: flex;
  justify-content: flex-end;
    padding-right: 10px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* select de filtros*/
.filtersFather {
  display: none;
  padding: 20px;
  flex-wrap: wrap;
  border: 2px solid;
  text-align: center;
  border-radius:10px;
  font-family: 'Mali', cursive;
  justify-content: center;
  font-weight:700;
  background: #D0A50E;
  color: #212121;
}
.filters {
  display: flex;
  padding: 10px;
  margin:0px 10px;
  flex-wrap: wrap;
  border: 2px solid;
  text-align: center;
  font-family: 'Mali', cursive;
  justify-content: center;
  background: #fbe289;
  color: #212121;
}